.container
  .row
    .col-md-12
      %h1.text-center SHOP
      = render 'shared/navigation'

      - @categories.each do |category|
        %div.category-box{style: "background-image: url(#{category.banner.large})"}
          = link_to sub_category_path(category.root), class: 'btn-outline' do
            = category.name
