.ui-content-header {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -73px;
  padding-bottom: 58px;
}

.btn-green {
  color: white !important;
}

.table {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}
