.ui-content-header {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -73px;
  padding-bottom: 58px;
}

.btn-green {
  color: white !important;
}

.table {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.front-navigation {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
  list-style: none;
  li {
    float: left;
  }
}

.ui-footer {
  border-top: 1px solid rgba(0,0,0,0.12);
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

