.ui-content-header {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -73px;
  padding-bottom: 58px;
}

.btn-green {
  color: white !important;
}

.table {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.front-navigation {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 30px auto;
  padding-left: 0;
  list-style: none;
  li {
    float: left;
  }
}

.category-box {
  background-size: cover;
  min-height: 500px;
  display: flex;
  align-items: center;
  .btn-outline {
    padding: 10px 15px;
    margin: 0 auto;
    justify-content: center;
    border: 1px solid white;
    color: white;
  }
}

.ui-footer {
  border-top: 1px solid rgba(0,0,0,0.12);
  text-align: center;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 100px;
}

.banner-image {
  height: 400px;
  background-size: cover;
  width: 100%;
  background-position: center;

}
